@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

.hidden{
    display: none;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


#profil {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 5;
    width: 20%;
    left: 78.5%;
}

#login {
    font-family: 'Patua One';
    font-size: 18px;
    text-align: center;
    color: white;
}

#nameSession {
    margin-block-start: 10px;
    margin-block-end: 1px;
}

#niveau {
    font-size: 15px;
    text-align: center;
    color: white;
    margin: 7px 0px;
}

#pseudo {
    background-color: #135B9F;
    border-radius: 17px;
    margin: 20px 18px;
    width: 80%;
    height: 70px;
}

#photoAvatar {
    margin-top: -8%;
    width: 20%;
}

ul {
    list-style: none;
}


nav a {
    display: block;
}


.sub-menu {
    display: none;
    margin-left: 55%;
    margin-top: -6%;
}

/* Submenu  */

nav li:hover .sub-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 4;
}

.sub-menu li {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.sub-menu li a {
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1em;
    color: #d2d2d2;
    width: 90px;
    text-align: center;
}

.sub-menu li {
    border-radius: 10px 4px 2px 10px;
    background-color: rgb(143, 0, 0);
}


.sub-menu li:hover a {
    background-color: rgba(218, 8, 8, 0.756);
    color: white;
}


#onglet {
    position: relative;
    z-index: 2;
    width: 25%;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(#0F4A81, #274c6fd2, rgba(69, 89, 149, 0.679));
    /*linear-gradient(to left , rgba(164, 172, 234, 0.754),rgba(237, 126, 126, 0.754));*/
    background-color: rgba(230, 113, 113, 0.754);
    color: white;
    border-right: 1px solid white;
    overflow: scroll;
    overflow-x: hidden;
}

#logo {
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin: auto;
    margin-top: 5%;
    padding: 2% 2.5% 0% 2.5%;
    border-radius: 21px;
}

#slogan {
    font-family: 'Inter';
    margin-top: 5%;
    font-size: 18px;
    margin-bottom: 6%;
    font-weight: 300;
}

.line {
    border-bottom: 1.7px solid rgb(232, 232, 232);
    width: 80%;
    margin: 0 auto;
}

.sous_onglet_titre {
    display: flex;
    margin-left: 14%;
    width: 73%;
    height: 30.7%;
    letter-spacing: 0.5px;
}

.sous_onglet_info {
    width: 70%;
    margin: 0 auto;
    font-style: italic;
    font-weight: 100;
    font-size: 14.5px;
}

.icone {
    width: 38px;
    height: 38px;
    margin-top: 6%;
    margin-right: 3%;
}

.icone_txt {
    margin-top: 8%;
    margin-left: 3%;
    font-size: 21px;
    font-family: 'Patua one', sans-serif;
}

#onglet_1 {
    height: 210px;
}

.sous_onglet {
    width: 80%;
    margin-top: 5.5%;
    margin-left: 10%;
}

.inputH {
    margin-left: 4%;
    color: #13528d;
    border-radius: 11px;
    border: rgb(236, 231, 231);
    height: 25px;
    width: 240px;
}

#depart {
    display: flex;
    margin-bottom: 6%;
    margin-left: 2%;
}

#arrivee {
    display: flex;
    margin-bottom: 6%;
    margin-left: 2%;
}

#barre {
    display: flex;
    margin-left: 2%;
}

.loupe {
    margin-left: -25px;
    cursor: pointer;
    width: 20px;
    height: 24px;
}

/* #loupe2 {
    position: absolute;
    top: 39.2%;
    right: 14%;
} */

#input_depart::placeholder {
    color: #13528d;
    font-style: italic;
}

#input_arrive::placeholder {
    color: #13528d;
    font-style: italic;
}

#rectangle {
    margin-top: 4%;
    margin-left: 12%;
    width: 75%;
    height: 33px;
    border-radius: 22px;
    background: #74B1DD;
}

.emojis {
    margin-left: 17px;
    margin-top: 2.5px;
    cursor: pointer;
}

#nom_sentiment {
    font-size: 18px;
    font-family: 'Patua one', sans-serif;
    width: 50%;
    margin: 17px auto;
    letter-spacing: 1px;
}

#nom_sentiment2 {
    font-size: 18px;
    font-family: 'Patua one', sans-serif;
    width: 50%;
    margin: 17px auto;
    letter-spacing: 1px;
}

#description_sentiment {
    width: 76%;
    margin: 18px auto;
    letter-spacing: 0.5px;
    margin-bottom: 6%;
}

.choix {
    /* width: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    margin-top: 5%;
}

.bouton {
    margin: 0px 20px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
}

.bouton:hover {
    color: #74B1DD;
    font-weight: 600;
    transition: 0.5s;
}

#deconnexion {
    width: 30%;
    position: absolute;
    right: 5%;
    margin-top: 2.2%;
    font-size: 15px;
}

/* ------------- */

.inputA {
    margin-left: 4%;
    color: #13528d;
    border-radius: 11px;
    border: rgb(236, 231, 231);
    height: 28px;
    width: 290px;
    margin-top: 1%;
}

#input_adresse::placeholder {
    color: #13528d;
    font-style: italic;
}

#adresse {
    width: 80%;
    margin: 0 auto;
    margin-top: 7%;
}

.txtInfo {
    list-style-type: disc;
    text-align: left;
}

#sentiments {
    width: 80%;
    margin: 0 auto;
}

#description {
    width: 80%;
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 1.2%;
}

.inputD {
    margin-left: 4%;
    color: #13528d;
    border-radius: 11px;
    border: rgb(236, 231, 231);
    height: 140px;
    width: 290px;
    margin-top: 1%;
}

#input_desc::placeholder {
    color: #13528d;
    font-style: italic;
}

.btn {
    width: 50%;
    height: 35px;
    margin-top: 2.5%;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    cursor: pointer;
}

.btn:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.btn:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

#btn_retour {
    position: absolute;
    left: 85%;
    margin-top: 2.5%;
    cursor: pointer;
}

/* mapbox logo en bas a gauche */
.mapbox-logo-true {
    display: none;
}

/* mapbox credits en bas a droite */
.leaflet-container .leaflet-control-attribution {
    display: none;
}

/* 
.leaflet-control-container > .leaflet-top .leaflet-left  > .leaflet-control-zoom .leaflet-bar .leaflet-control{
    position: fixed; 
    right: 20px;
    bottom: 20px;
}  */

#menuOnglet {
    display: flex;
}


#ongletAvis {
    position: relative;
    z-index: 2;
    width: 350px;
    height: 100vh;
    text-align: center;
    background-image: linear-gradient(#0F4A81, #274c6fd2, rgba(69, 89, 149, 0.679));
    background-color: rgba(230, 113, 113, 0.754);
    color: white;
    overflow: scroll;
    overflow-x: hidden;
    display: none;
}

.traitBlanc {
    height: 1px;
    width: 50px;
    background-color: white;
    display: block;
    margin: auto;
}

#traitBlanc1 {
    height: 3px;
    width: 150px;
    background-color: white;
    display: block;
    margin: auto;
}

#ferme{
    cursor: pointer;
}

#nbrSentiment{
    display: flex;
    align-items: center;
    justify-content: center;
}

#nbrSentiment > .emojis{
    margin: 0;
}