body{
    background-image: url(../images/fond_accueil.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family : 'Inter';
    text-decoration: none;
    /* background-image: url(../images/abstrait.jpg); */
}

li{
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

#container {
    width: 55%;
    margin-left: 22.5%;
    margin-top: 8%;
    height: 50%;
}

#titre {
    width: 80%;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 70px;
    font-family: Abril fatface;
}

#titre1 {
    background: linear-gradient(180deg, #FFF 10.4%, #FFF 83.82%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#slogan {
    width: 50%;
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2.4%;
    color: #FFF;
    font-size: 27.5px;
    font-style: italic;
    text-align: center;
    font-weight: 400;
    line-height: 40px;
}

button {
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    margin-top: 27px;
    padding: 10px 53px;
    align-items: center;
    text-align: center;
    font-size: 23px;
    letter-spacing: 1.3px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: transparent;
    transition: ease-out 0.5s;
    border: 2px solid #FFF;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #74B1DD;
    text-decoration: none;
}

#marqueur {
    margin-left: 17px;
}
  
button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #74b1ddcd;
}
  
button:active {
    transform: scale(0.9);
}

#presentation {
    width: 40%;
    /* margin: 80px auto; */
    margin-top: 75px;
    margin-left: 30%;
    display : flex;
}

.bloc {
    width: 50%;
    margin-left: 21px;
    margin-right: 21px;
}

.logo_desc {
    width: 20%;
    margin-bottom: 7px;
    margin-left: 123.5px;
}

.titre_desc {
    color: #E43A3A;
    width: 55%;
    margin-top: 5%;
    margin-left: 22.5%;
    border-radius: 7px;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.351);
    text-align: center;
    font-family: Patua One;
    font-size: 24px;
}

.desc {
    margin-top: 7%;
    color: #ffffff;
    text-align: center;
    font-size: 17.3px;
    line-height: 23px;
}

#information {
    display: flex;
    align-items: center;
    margin-left: 43px;
    margin-top: 30px;
}

#info_lieu {
    margin-left: 1.2%;
    color: white;
    font-size: 20px;
    font-style: italic;
}

/* NAVBAR */

#navbar{
    display: flex;
    /* background-image: linear-gradient(180deg, #135B9F 0%, rgba(19, 91, 159, 0.00) 100%); */
    /* background-color: #135B9F; */
    padding: 20px;
    z-index: 10;
    height: 50px;
    justify-content: space-between;
}

#navbar ul{
    width: 35%;
    display: flex;
    text-align: center;
    align-items: center;
    float: right;
    margin-bottom: 10px;
}

#navbar a {
    font-size: 19px;
    padding: 10px 38px;
    color: white;
}

#navbar a:hover {
    color: #74B1DD;
    font-weight: 500;
    transition: 0.5s;
    transition: all 0.4s ease-in-out;
}

#logo {
    margin-left: 10px;
    cursor: pointer;
}


footer {
    margin-top: 1%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: auto;
}


.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.social-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff2c; /* Couleur de fond - à personnaliser */
    color: #ffffff; /* Couleur du texte - à personnaliser */
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.social-button:hover {
    background-color: #385898; /* Couleur de fond au survol - à personnaliser */
}