body{
    background-image: linear-gradient(#094F8F,#094F8F,rgb(150, 150, 53));
    background-size: cover;
    margin: 0;
}

header{
    background-color: #fffffff4;
    display: flex;
    align-items: center;
    border-radius: 0 0 15px 15px;
    margin-bottom: 2%;
}

.ssconteneur{
    display: flex;
    margin-bottom: 2%;
}

.conteneur{
    display: flex;
}
.pres{
    margin-left: auto;
    margin-right: auto;
    background-color: #fffffff4;
    width: 54%;
    height: 70px;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    text-align: center;
    box-shadow: 10px 5px 5px black;
}

.fnct{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 4%;
    background-color: #fffffff4;
    width: 50%;
    height: 150px;
    border-radius: 20px;
}

.pres2{
    margin-left: 4%;
    background-color: #fffffff4;
    width: 64%;
    height: 340px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.579);
    border: solid;
    padding-left: 2%;
    padding-right: 0.5%;
}
#i1{
    width: 400px;
    height: 100px;
    margin-top: 2%;
    margin-right: 1.5%;
    text-decoration: dashed;
}
#logo{
    height: 120px;
    width: 120px;
}

.fnct2{
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 4%;
    background-color: #fffffff4;
    width: 50%;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.579);
    border: solid;
}


.btn{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 5.29%;
    margin-top: 4%;
    background-color: #ffffffd6;
    border-radius: 10px;
    width: 420px;
    height: 130px;
    box-shadow: 10px 5px 5px #094e8fac;
}

#mouse{
    margin-left: 90%;
    margin-top: -8%;
}

.btn:hover{
    background-color: #094e8fba;
    box-shadow: 0px 0px 0px;
    color: white;
    border: solid rgb(0, 0, 0)
}